/* thx github */
:not(pre) > code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--gray-color);
  border-radius: 3px;
}

pre {
  padding: 0.4em 0.8em;
  background-color: var(--gray-color);
}

pre,
code {
  font-family: "WebTypo-Code";
  font-weight: 500;
}

/* HTML Color */
code.language-html {
  color: black;
}

.language-html {
  .hljs-tag {
    color: var(--blue-color);
  }
  .hljs-name,
  .hljs-attr {
    color: var(--brown-color);
  }
  .hljs-string {
    color: var(--green-color);
  }
}
/* CSS Color */

code.language-css {
  color: var(--blue-color);
}

.language-css {
  .hljs-selector-class {
    color: var(--green-color);
  }
  .hljs-attribute {
    color: var(--brown-color);
  }
  .hljs-comment {
    color: #888;

  }
  /* .hljs-attribute {
    color: #006984;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: rgb(178, 112, 0);
  } */
}
