img {
  max-width: 100%;
  height: auto;
}

img {
  margin: 1em 0;
}
/* image caption */
img + em {
  font-size: 0.9em;
  margin-top: -0.4em;
  margin-bottom: 1.8em;
  font-style: normal;
  font-weight: 400;
  display: block;
  color: var(--blue-color);
  margin-left: 1em;
  margin-right: 1em;
}
